body{
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;
	overflow: hidden;
}

.box{
	border: 10px solid black;
	height: 200px;
	width: 200px;
	padding: auto 0;
	margin-top: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-left: 90px;
	transition: 0.5s all;
	/*stuff for the text*/
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blue{
	background-color: deepskyblue;
	color: deepskyblue;
}

.red{
	background-color: crimson;
	color: crimson;
}

.green{
	background-color: lime;
	color: lime;
}

.purple{
	background-color: rebeccapurple;
	color: rebeccapurple;
}