/* Border-box Model */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* HTML Element Defaults */
body {
  margin: 0;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 320px;
  max-width: 1080px;
  overflow-x: hidden;
}



.content {
  margin: 2rem auto;
  font-size: 0.8em;
}


.project {
  width: 100%;
  max-width: 640px;
  margin: 3rem auto;
}

.project-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}


@media only screen and (min-width : 768px) {

  body {
    margin: auto;
    font-size: 24px;
  }

}