/* Border-box Model */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* HTML Element Defaults */
body {
  margin: 0;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 320px;
  max-width: 1080px;

  overflow-x: hidden;
}
